body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background: url('files/bibliaBanner.jpg') no-repeat center center/cover;
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

/* Make the header text more readable */
header h1 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Section and Footer Styles */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 20px 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
        padding: 5px;
    }

    nav ul li {
        margin: 5px 0;
    }

    section {
        margin: 5px;
    }
}
