body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background: url('files/bibliaBanner.jpg') no-repeat center center/cover;
    height: 250px; /* Adjust the height as needed to fit the image */
    width: 100%;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

h2 {
    color: #333;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        height: 200px;
    }

    section {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    header {
        height: 70px;
    }

    section {
        margin: 5px;
    }
}
